{% extends 'base.html' %}
{% load static %}


{% block content %}
<h2 class="text-center">Add Movies</h2>
<form method="POST" enctype="multipart/form-data">

{% csrf_token %}
    <div class="mb-3">
  <label class="form-label">Title</label>
  <input type="text" class="form-control" name="t" value="{{movie.title}}" placeholder="Enter the Title">
</div>

    <div class="mb-3">
  <label class="form-label">Description</label>
  <input type="text" class="form-control" name="d" value="{{movie.description}}" placeholder="Enter the Description">
</div>

    <div class="mb-3">
  <label class="form-label">Language</label>
  <input type="text" class="form-control" name="l" value="{{movie.language}}" placeholder="Enter the Language">
</div>

    <div class="mb-3">
  <label class="form-label">Year</label>
  <input type="number" class="form-control" name="y" value="{{movie.year}}" placeholder="Enter the Year">
</div>


     <div class="mb-3">
  <label class="form-label">Image</label>
     <img src="{{movie.image.url}}" height="100px" width="100px">
  <input type="file" class="form-control" name="i" >
</div>


        <div class="mb-3">

  <input type="submit" value="ADD MOVIE">
</div>


</form>




{% endblock %}